<!DOCTYPE html>
<html>

<head>
   <title>Rates</title>
   <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

  <div class="center">
    <div class="box">
    <h1>Your current rate</h1>
    </div>
    <div class="box">
      <h2>Postage information:</h2>
      <span>Mail type selected:</span> <span class="white"><%= select %></span><br>
      <span>Weight entered:</span> <span class="white"><%= weight %>oz</span>
      <h2>Rate:</span> <span class="white"><%= rates %></h2>
    </div>

    

</body>

</html>